vendor/*
!vendor/vendor.json
.idea
*.iml
cmd/virt-controller/virt-controller
cmd/virt-launcher/virt-launcher
cmd/virt-handler/virt-handler
cmd/virt-api/virt-api
cluster/manifest/*.yaml
**/bin
bin/*
.vagrant
cluster/vagrant/.kubeconfig
cluster/vagrant/.kubectl
*_swagger_generated.go
*_swagger_generated_test.go
build-tools/desc/desc
