.idea
*.iml
tools/openapispec/openapispec
tools/crd-generator/crd-generator
tools/csv-generator/csv-generator
tools/doc-generator/doc-generator
tools/crd-validation-generator/crd-validation-generator
tools/resource-generator/resource-generator
tools/manifest-templator/manifest-templator
tools/vms-generator/vms-generator
**/bin
bin/*
.vagrant
cluster/*/.kubeconfig
cluster/*/.kubectl
cluster/*/.oc
hack/config-provider-*
cluster/.console.vv
build-tools/desc/desc
hack/config-local.sh
tags
.GeneratedDockerfile
.gradle
hack/gen-swagger-doc/*.adoc
hack/gen-swagger-doc/*.md
hack/gen-swagger-doc/html5
cluster/local/certs
*.swp
*.pem
*.crt
*.csr
_out
exported-artifacts
vendor/**/*_test.go
**/polarion.xml
.coverprofile*
coverage.html
manifests/**/*.tmp
/bazel-*
/ci.bazelrc
_ci-configs/
.history
hack/builder/manifests/
*~
.bazeldnf/
user.bazelrc
.vscode/
