vendor/*
!vendor/vendor.json
.idea
*.iml
cmd/fake-dnsmasq-process/fake-dnsmasq*
cmd/fake-qemu-process/fake-qemu*
cmd/virt-manifest/virt-manifest*
cmd/virt-controller/virt-controller*
cmd/virt-launcher/virt-launcher*
cmd/virt-handler/virt-handler*
cmd/virt-api/virt-api*
cmd/virtctl/virtctl*
cmd/virt-dhcp/virt-dhcp*
tools/openapispec/openapispec
manifests/*.yaml
**/bin
bin/*
.vagrant
cluster/vagrant/.kubeconfig
cluster/vagrant/.kubectl
cluster/.console.vv
build-tools/desc/desc
hack/config-local.sh
tags
.Gopkg.*
.GeneratedDockerfile
.gradle
hack/gen-swagger-doc/*.adoc
hack/gen-swagger-doc/*.md
hack/gen-swagger-doc/html5
