---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: hyperconverged-cluster-operator
  name: hyperconverged-cluster-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: hyperconverged-cluster-operator
  strategy: {}
  template:
    metadata:
      labels:
        name: hyperconverged-cluster-operator
    spec:
      containers:
      - command:
        - hyperconverged-cluster-operator
        env:
        - name: KVM_EMULATION
        - name: OPERATOR_IMAGE
          value: quay.io/kubevirt/hyperconverged-cluster-operator@sha256:95c8c3e9002ebe55254b9371757a98a3d29991ba83e3edfe405a9174c596365a
        - name: OPERATOR_NAME
          value: hyperconverged-cluster-operator
        - name: OPERATOR_NAMESPACE
          value: kubevirt-hyperconverged
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: WATCH_NAMESPACE
        - name: CONVERSION_CONTAINER
          value: quay.io/kubevirt/kubevirt-v2v-conversion@sha256:c620233c71b805004c2cd38927c421b69d99b27cb40af521967e655882b2f815
        - name: VMWARE_CONTAINER
          value: quay.io/kubevirt/kubevirt-vmware@sha256:ae5ccd98a49ab9e154ce482d2fa73f044b00211f273210a9cd371b40746d3c92
        - name: SMBIOS
          value: |-
            Family: KubeVirt
            Manufacturer: KubeVirt
            Product: None
        - name: MACHINETYPE
        - name: HCO_KV_IO_VERSION
          value: 1.3.0
        - name: KUBEVIRT_VERSION
          value: 20200922_3653b1f1b
        - name: CDI_VERSION
          value: v1.23.5
        - name: NETWORK_ADDONS_VERSION
          value: v0.42.2
        - name: SSP_VERSION
          value: v1.2.1
        - name: NMO_VERSION
          value: v0.7.0
        - name: HPPO_VERSION
          value: v0.5.2
        - name: VM_IMPORT_VERSION
          value: v0.2.2
        image: quay.io/kubevirt/hyperconverged-cluster-operator@sha256:95c8c3e9002ebe55254b9371757a98a3d29991ba83e3edfe405a9174c596365a
        imagePullPolicy: IfNotPresent
        name: hyperconverged-cluster-operator
        readinessProbe:
          exec:
            command:
            - stat
            - /tmp/operator-sdk-ready
          failureThreshold: 1
          initialDelaySeconds: 5
          periodSeconds: 5
        resources: {}
      serviceAccountName: hyperconverged-cluster-operator
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: cluster-network-addons-operator
  name: cluster-network-addons-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: cluster-network-addons-operator
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        name: cluster-network-addons-operator
    spec:
      containers:
      - env:
        - name: MULTUS_IMAGE
          value: nfvpe/multus@sha256:167722b954355361bd69829466f27172b871dbdbf86b85a95816362885dc0aba
        - name: LINUX_BRIDGE_IMAGE
          value: quay.io/kubevirt/cni-default-plugins@sha256:3dd438117076016d6d2acd508b93f106ca80a28c0af6e2e914d812f9a1d55142
        - name: LINUX_BRIDGE_MARKER_IMAGE
          value: quay.io/kubevirt/bridge-marker@sha256:e55f73526468fee46a35ae41aa860f492d208b8a7a132832c5b9a76d4a51566a
        - name: NMSTATE_HANDLER_IMAGE
          value: quay.io/nmstate/kubernetes-nmstate-handler@sha256:444ab3349882ac58f594396529708146993b831c2e3e1d524eaa12e17e09f150
        - name: OVS_CNI_IMAGE
          value: quay.io/kubevirt/ovs-cni-plugin@sha256:4101c52617efb54a45181548c257a08e3689f634b79b9dfcff42bffd8b25af53
        - name: OVS_MARKER_IMAGE
          value: quay.io/kubevirt/ovs-cni-marker@sha256:0f08d6b1550a90c9f10221f2bb07709d1090e7c675ee1a711981bd429074d620
        - name: KUBEMACPOOL_IMAGE
          value: quay.io/kubevirt/kubemacpool@sha256:79c4534d418c4a350a663e38499c22d54dc68c400f517aead4479f6d862b408e
        - name: MACVTAP_CNI_IMAGE
          value: quay.io/kubevirt/macvtap-cni@sha256:407f75760fc096666becfa45d94f51757ebbe8f382e9e7b57ceeded0b8cfb6b8
        - name: OPERATOR_IMAGE
          value: quay.io/kubevirt/cluster-network-addons-operator@sha256:f31ea1cc004fc3b9993ed43c5f23c9e237a368a385daf8730ec9366e8f0ee238
        - name: OPERATOR_NAME
          value: cluster-network-addons-operator
        - name: OPERATOR_VERSION
          value: v0.42.2
        - name: OPERATOR_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: OPERAND_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: WATCH_NAMESPACE
        image: quay.io/kubevirt/cluster-network-addons-operator@sha256:f31ea1cc004fc3b9993ed43c5f23c9e237a368a385daf8730ec9366e8f0ee238
        imagePullPolicy: IfNotPresent
        name: cluster-network-addons-operator
        resources: {}
      securityContext:
        runAsNonRoot: true
      serviceAccountName: cluster-network-addons-operator
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: virt-operator
  name: virt-operator
spec:
  replicas: 2
  selector:
    matchLabels:
      kubevirt.io: virt-operator
  strategy:
    type: RollingUpdate
  template:
    metadata:
      annotations:
        scheduler.alpha.kubernetes.io/critical-pod: ""
      labels:
        kubevirt.io: virt-operator
        prometheus.kubevirt.io: ""
      name: virt-operator
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: kubevirt.io
                  operator: In
                  values:
                  - virt-operator
              topologyKey: kubernetes.io/hostname
            weight: 1
      containers:
      - command:
        - virt-operator
        - --port
        - "8443"
        - -v
        - "2"
        env:
        - name: OPERATOR_IMAGE
          value: kubevirtnightlybuilds/virt-operator@sha256:5589b57b4cb566726eb137cc2fc37190e10f5985ce20796b435efe5ba7946ed3
        - name: WATCH_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.annotations['olm.targetNamespaces']
        - name: KUBEVIRT_VERSION
          value: 20200922_3653b1f1b
        - name: VIRT_API_SHASUM
          value: sha256:b2d5a8e8f973add6ac20aca85836cfd1b7cdc6f58a6e3d824894d1cdd29b37d3
        - name: VIRT_CONTROLLER_SHASUM
          value: sha256:46e32cc50b37897f20a43eccaaf243108187a5bcbfd9147f1c8663b1f2f79ce7
        - name: VIRT_HANDLER_SHASUM
          value: sha256:1f01778e58ce42543c7cf8d52540c27829a426daba5efea89b85d3b7a16247e4
        - name: VIRT_LAUNCHER_SHASUM
          value: sha256:deb37123dea7585de52907be08e4a1b3ebbd43095019c695144af875d1e055b4
        image: kubevirtnightlybuilds/virt-operator@sha256:5589b57b4cb566726eb137cc2fc37190e10f5985ce20796b435efe5ba7946ed3
        imagePullPolicy: IfNotPresent
        name: virt-operator
        ports:
        - containerPort: 8443
          name: metrics
          protocol: TCP
        - containerPort: 8444
          name: webhooks
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /metrics
            port: 8443
            scheme: HTTPS
          initialDelaySeconds: 5
          timeoutSeconds: 10
        resources: {}
        volumeMounts:
        - mountPath: /etc/virt-operator/certificates
          name: kubevirt-operator-certs
          readOnly: true
      priorityClassName: kubevirt-cluster-critical
      securityContext:
        runAsNonRoot: true
      serviceAccountName: kubevirt-operator
      tolerations:
      - key: CriticalAddonsOnly
        operator: Exists
      volumes:
      - name: kubevirt-operator-certs
        secret:
          optional: true
          secretName: kubevirt-operator-certs
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: kubevirt-ssp-operator
  name: kubevirt-ssp-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: kubevirt-ssp-operator
  strategy: {}
  template:
    metadata:
      labels:
        name: kubevirt-ssp-operator
    spec:
      containers:
      - env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: IMAGE_REFERENCE
          value: quay.io/fromani/kubevirt-ssp-operator-container@sha256:a8f8bd3c02db4c76a80b00288e4f9bf8e0f9885db1f303202771e44051d9127a
        - name: WATCH_NAMESPACE
        - name: KVM_INFO_TAG
        - name: VALIDATOR_TAG
        - name: VIRT_LAUNCHER_TAG
        - name: NODE_LABELLER_TAG
        - name: CPU_PLUGIN_TAG
        - name: IMAGE_NAME_PREFIX
        - name: OPERATOR_NAME
          value: kubevirt-ssp-operator
        - name: OPERATOR_VERSION
          value: v1.2.1
        image: quay.io/fromani/kubevirt-ssp-operator-container@sha256:a8f8bd3c02db4c76a80b00288e4f9bf8e0f9885db1f303202771e44051d9127a
        imagePullPolicy: IfNotPresent
        name: kubevirt-ssp-operator
        ports:
        - containerPort: 60000
          name: metrics
        resources: {}
      serviceAccountName: kubevirt-ssp-operator
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: cdi-operator
  name: cdi-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: cdi-operator
      operator.cdi.kubevirt.io: ""
  strategy: {}
  template:
    metadata:
      labels:
        name: cdi-operator
        operator.cdi.kubevirt.io: ""
    spec:
      containers:
      - env:
        - name: DEPLOY_CLUSTER_RESOURCES
          value: "true"
        - name: OPERATOR_VERSION
          value: v1.23.5
        - name: CONTROLLER_IMAGE
          value: docker.io/kubevirt/cdi-controller@sha256:659e241627c35b40650aa8d64cab77fb4962d326a7c152406068158487670ef5
        - name: IMPORTER_IMAGE
          value: docker.io/kubevirt/cdi-importer@sha256:e501151f3ee205079488745520edabaef2e8b5911f504d79fd1048069d3b8866
        - name: CLONER_IMAGE
          value: docker.io/kubevirt/cdi-cloner@sha256:cebde10682870ff307b51f6c57a90eca66b3b6cb569641d5e60660ae41e844c4
        - name: APISERVER_IMAGE
          value: docker.io/kubevirt/cdi-apiserver@sha256:513764f696b195ef7b9efef818634c9931ef96ccd8402fc8bc0a4d8a00a421f3
        - name: UPLOAD_SERVER_IMAGE
          value: docker.io/kubevirt/cdi-uploadserver@sha256:9c89fdf6d8097b0258620584bc3d6028bcb27c0c053a5c81344d969c4aeb2943
        - name: UPLOAD_PROXY_IMAGE
          value: docker.io/kubevirt/cdi-uploadproxy@sha256:4b29d0592bbf45b32ae67efda633a47cfa8809ff87b6ea16849e2eb6df722921
        - name: VERBOSITY
          value: "1"
        - name: PULL_POLICY
          value: IfNotPresent
        image: docker.io/kubevirt/cdi-operator@sha256:55b71a6bf89ca32022f26cbba117e5bbaf2eac0a150aada326bb393960c7acea
        imagePullPolicy: IfNotPresent
        name: cdi-operator
        ports:
        - containerPort: 60000
          name: metrics
          protocol: TCP
        resources: {}
      securityContext:
        runAsNonRoot: true
      serviceAccountName: cdi-operator
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: node-maintenance-operator
  name: node-maintenance-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: node-maintenance-operator
  strategy: {}
  template:
    metadata:
      labels:
        name: node-maintenance-operator
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node-role.kubernetes.io/master
                operator: Exists
      containers:
      - env:
        - name: WATCH_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.annotations['olm.targetNamespaces']
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: OPERATOR_NAME
          value: node-maintenance-operator
        image: quay.io/kubevirt/node-maintenance-operator:v0.7.0
        imagePullPolicy: Always
        name: node-maintenance-operator
        resources: {}
      serviceAccountName: node-maintenance-operator
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: hostpath-provisioner-operator
  name: hostpath-provisioner-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: hostpath-provisioner-operator
      operator.hostpath-provisioner.kubevirt.io: ""
  strategy: {}
  template:
    metadata:
      labels:
        name: hostpath-provisioner-operator
        operator.hostpath-provisioner.kubevirt.io: ""
    spec:
      containers:
      - env:
        - name: WATCH_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: OPERATOR_NAME
          value: hostpath-provisioner-operator
        - name: PROVISIONER_IMAGE
          value: quay.io/kubevirt/hostpath-provisioner@sha256:9d92c216bc50d7fbfc787f315ad77dabd2ac26d981702efd545a1dd1f2b37c6c
        - name: PULL_POLICY
          value: IfNotPresent
        image: quay.io/kubevirt/hostpath-provisioner-operator@sha256:074aae9b1fbc727975934e86eea31e699e4504c24e1a7aea6d0b2d69f0e07673
        imagePullPolicy: IfNotPresent
        name: hostpath-provisioner-operator
        resources: {}
      serviceAccountName: hostpath-provisioner-operator
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: vm-import-operator
  name: vm-import-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: vm-import-operator
      operator.v2v.kubevirt.io: ""
  strategy: {}
  template:
    metadata:
      labels:
        name: vm-import-operator
        operator.v2v.kubevirt.io: ""
    spec:
      containers:
      - env:
        - name: DEPLOY_CLUSTER_RESOURCES
          value: "true"
        - name: OPERATOR_VERSION
          value: v0.2.2
        - name: CONTROLLER_IMAGE
          value: quay.io/kubevirt/vm-import-controller@sha256:bee1d7820fe7803d08aeb81314737e9c380e10e4a6c2226f72074fcac3d777f9
        - name: PULL_POLICY
          value: IfNotPresent
        - name: WATCH_NAMESPACE
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: MONITORING_NAMESPACE
          value: openshift-monitoring
        - name: VIRTV2V_IMAGE
        image: quay.io/kubevirt/vm-import-operator@sha256:d223cfeb93bc95dd1929347eaef56f15ef7288ddea98f1fa32cf37b665753a50
        imagePullPolicy: IfNotPresent
        name: vm-import-operator
        resources: {}
      securityContext:
        runAsNonRoot: true
      serviceAccountName: vm-import-operator
