cachetools==5.3.3
certifi==2024.2.2
chardet==5.2.0
google-auth==2.29.0
graphviz==0.20.3
idna==3.7
kubernetes==29.0.0
marshmallow==3.21.2
marshmallow-dataclass==8.6.1
mypy-extensions==1.0.0
oauthlib==3.2.2
pyasn1==0.6.0
pyasn1-modules==0.4.0
python-dateutil==2.9.0.post0
PyYAML==6.0.1
requests==2.32.0
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
typing-extensions==4.11.0
typing-inspect==0.9.0
urllib3==2.2.2
websocket-client==1.8.0
